*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem02/AprendiendoWeb2/dist/
/Sem03/PagoApp/nbproject/private/
/Sem03/PagoApp/build/
/Sem03/PagoApp/dist/
/Sem05/DemoCarrito/nbproject/private/
/Sem05/DemoCarrito/build/
/Sem04/TablaServlets/build/
/Sem04/TablaServlets3/build/
/Sem05/AprendiendoJSTL/nbproject/private/
/Sem05/AprendiendoJSTL/build/
/Sem06/DemoCarrito/nbproject/private/
/Sem06/DemoCarrito/build/
/Sem05/P05E01/nbproject/private/
/Sem05/P05E01/build/
/Sem05/JavaApplication1/nbproject/private/
/Sem05/JavaApplication1/build/
/Sem05/JavaApplication1/dist/
/Sem09/AprendiendoJDBC/nbproject/private/
/Sem09/AprendiendoJDBC/build/